<h1>Refreshing feeds</h1>
Refreshing feeds. Check progress in the terminal.
<hr>
<center><a href="/">Main page</a> - <a href="/refresh.htm">Refresh feeds</a> - <a href="/search.htm">Search articles</a> - <a href="/cleanup.htm">Article cleanup</a></center>