<h1>Search form</h1>
<script src="jquery.js"></script>
<script src="sortable.js"></script>
<input type="search" id="searchform" placeholder="Search terms"><br><br>
<table border="1" id="dataTable" width="80%" class="sortable">
<thead><tr>
<th>Title</th>
<th>Date</th>
<th>Relevance</th>
</tr></thead>
<tbody id="dataTableBody"></tbody>
</table>
<script>
var results;
document.getElementById('searchform').onkeyup = function() {
	$.get("search.js?term="+document.getElementById('searchform').value, function(data, status) {
		results = JSON.parse(data);
		HTML = "";
		displayResults(results);
		if (!results && document.getElementById('searchform').value != "") {
			HTML += "<tr><td colspan=2><b>No articles found!</b></td></tr>";
		}
		document.getElementById('dataTableBody').innerHTML = HTML;
	});
}

function displayResults(results) {
	results.forEach(function (result) {
		HTML += "<tr>";
		HTML += "<td>";
		HTML += "<b><a href='" + result.link + "'>" + result.title + "</a></b>"
		HTML += " <span style='color:grey'>[" + result.source + "]</span>";
		HTML += "</td><td>";
		HTML += new Date(result.published).toLocaleDateString();
		HTML += "</td><td>";
		HTML += Math.floor(100*result.score);
		HTML += "%</td>";
		HTML += "</tr>";
	});
}
</script>
<hr>
<center><a href="/">Main page</a> - <a href="/refresh.htm">Refresh feeds</a> - <a href="/search.htm">Search articles</a> - <a href="sources.htm">Manage sources</a> - <a href="/cleanup.htm">Article cleanup</a></center>